# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# pytest
.pytest_cache/

# Coverage reports
.coverage
coverage.xml
htmlcov/

# Poetry
dist/
*.egg-info/

# Pycharm
.idea

# mypy
.mypy_cache/

# mac
**/.DS_Store
